.card-img-top {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.card:hover .card-img-top {
  transform: scale(1.2);
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

#modalPokemonImage {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  max-width: 100%;
  height: auto;
}

.progress-bar {
  text-align: left;
  padding-left: 5px;
}

.type-icon {
  width: 25%;
}
